/*==============================
	Global
==============================*/
@font-face {
    font-family: 'diner-regularregular';
    src: url('../fonts/Diner-Regular-webfont.eot');
    src: url('../fonts/Diner-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Diner-Regular-webfont.woff') format('woff'),
         url('../fonts/Diner-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Diner-Regular-webfont.svg#diner-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


p {
    font-family: 'cantarellregular', arial, sans-serif;
	line-height: 24px;
}

/* Headings */
.about h2,
.students h2,
.contact h2 {
    font-family: 'diner-regularregular', arial, sans-serif;
    font-size: 2.5em;
    letter-spacing: 6px;
}


/*==============================
	Structure & Layout 
==============================*/
.container {
	margin: 0 auto;
	width: 960px;
}

/* Push down content below navigation */
article {
	padding-top: 200px;
}

/*==============================
	Logo
==============================*/
header h1 a {
	background: #ccc url("../img/logo.png") no-repeat center center;
	border-radius: 150px;
	border: 4px solid #fff;
	display: block;
	height: 150px;
	left: 40px;
	position: absolute;
	text-indent: -999em;
	width: 150px;
	z-index: 2;
	
	/* CSS 3*/
	transition: background-color 1s;
}

header h1 a:hover {
	background: #666 url("../img/logo.png") no-repeat center center;
}


/*==============================
	Navigation
==============================*/
header {
	position: relative;
}

header li {
	float: left;
	list-style: none;
	margin: 0 10px;
}

/* Remove inherited margin on <ul> */
header ul {
	margin: 0;
}

/* Push links far right w/o floats */
nav li:nth-child(1) {
	margin-left: 378px;
}

nav {
	background: #666;	
	border-radius: 10px 0 10px 0;
    height: 64px;
	position: absolute;
	left: 0;
	top: 42px;
	width: 960px;
	
	/* CSS3 */
	box-shadow: inset 0px 0px 10px 2px #333;
}

nav a:link,
nav a:visited {
	color: #fff;
    font-family: 'cantarellregular', arial, sans-serif;
	height: 64px;
	display: block;
	line-height: 48px;
    padding-left: 32px;
	text-align: center;	
	text-decoration: none;
	text-transform: uppercase;
	width: 128px;
	
	/*CSS 3*/
	transition: all .25s;
}

nav a:hover, 
nav a:active {
    color: #00ccff;
	margin-top: 10px;
}

/*==============================
	Navigation: Sprite Map
==============================*/
/* About Link Off State*/
nav li:nth-child(1) a:link {
    background: url("../img/spritemap.png") no-repeat 0 0;
}

nav li:nth-child(1) a:hover {
    background: url("../img/spritemap.png") no-repeat 0 -64px;
}

/* Students Link */
nav li:nth-child(2) a:link {
    background: url("../img/spritemap.png") no-repeat 0 -128px;
}

nav li:nth-child(2) a:hover {
    background: url("../img/spritemap.png") no-repeat 0 -192px;
}

/* Contact Link */
nav li:nth-child(3) a:link {
    background: url("../img/spritemap.png") no-repeat 0 -256px;
}

nav li:nth-child(3) a:hover {
    background: url("../img/spritemap.png") no-repeat 0 -320px;
}


/*==============================
	Navigation: Page Indicators
==============================*/
.about li:nth-child(1), 
.students li:nth-child(2),
.contact li:nth-child(3){
	background: rgba(255,255,255,.15);
}

/*==============================
	About Page
==============================*/
.about section {
	float: left;
	margin-left: 40px;
	width: 420px;
}

.about section h2 {
    margin-left: -40px;
}

/*==============================
	Students Page
==============================*/
.members li {
	float: left;
	list-style: none;
	margin: 20px 0 0 20px;
	position: relative;
	width: 440px;
}

/* Create Ribbons */
.members h3 {
    background: #666;
	bottom: 20px;    
    color: #fff;
    font-family: 'cantarellregular', arial, sans-serif;
    padding: 10px;
	position: absolute;
    	
	/* CSS 3*/
	box-shadow: 0 10px 20px #222;
}

/* Alternate Ribbons Left/Right */
.members li:nth-child(odd) h3 {	
	left: -20px;
}

.members li:nth-child(even) h3 {
	right: 0px;
}

/* Create Ribbon Triangle */
.members h3:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	bottom: -40px;
	border-width: 20px;
	z-index: -1;
}

/* Alternate Ribbons Left/Right */
.members li:nth-child(odd) h3:after {	
	left: 0;
}

.members li:nth-child(even) h3:after {
	right: 0px;
}

.members img {
	width: 420px;
}


/*==============================
	Contact Page
==============================*/
.contact article section {
	float: left;
	margin-left: 10px;
	width: 310px;
}

.contact td {
	padding: 10px 4px;
}

.contact tr:nth-child(even)  {
	background: #ccc;
}

label {
	display: block;
}

/*==============================
	Gallery Theme - Customize
==============================*/

.gallery .control-button {
  color: #00ccff;
  color: rgba(0, 204, 255, 0.4);
}

.gallery .control-button:hover {
   color: #00ccff;
  color: rgba(0, 204, 255, 1);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}